<div class="pg-opt pin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>QTL Expressions</h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Expressions</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="slice animate-hover-slide bg-3">
    <div class="w-section inverse">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="linker/images/pic2.jpg" class="img-responsive">
                            <div class="figcaption bg-2"></div>

                        </div>
                        <h2>Quantum Travels Limited</h2>
                        <p>
                           Holding Company Incorporated in 2003. Handles all retail travel management services. We currently hold the leading position on the Billing Settlement Platform
                        </p>
                        <p><strong>Contact:</strong> info@quantumtravelsng.com</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="linker/images/pic3.jpg" class="img-responsive">
                            <div class="figcaption bg-2"></div>

                        </div>
                        <h2>Quantum Tours</h2>
                        <p>
                           This department packages all things leisure. Also, all destination events are handled by Quantum Tours.
                        </p>
                        <p><strong>Contact:</strong> tours@quantumtravelsng.com</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="w-box">
                        <div class="figure">
                            <img alt="" src="linker/images/pic1.jpg" class="img-responsive">
                            <div class="figcaption bg-2"></div>

                        </div>
                        <h2>  BCD Travels Nigeria:</h2>
                        <p>
                           The Corporate Travel Management arm of business. In 2009, QTL partnered with global No. 3 Travel Management Company, BCD Travel to birth BCD Travel Nigeria.
                        </p>
                        <p><strong>Contact:</strong> info@bcdtravelng.com www.bcdtravelng.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>