<div data-ng-controller="HeaderController">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                <span class="aux-text hidden-xs">
                    Quantum Travels & Tours Ltd: info@quantumtravelsng.com ,+234 1 815 0926
                </span>
                    <nav class="top-header-menu">
                        <ul class="menu">
                            <li><a href="http://twitter.com/quantumtravels" target="_blank"><i class="fa fa-twitter"></i> </a> </li>
                            <li><a href="http://facebook.com/quantumtravels" target="_blank"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
                            <!--<li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i> </a> </li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div id="navOne" class="navbar navbar-wp" role="navigation" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                            ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home" title="Quantum | The Travel Solutions Group">
                        <img src="linker/images/quantumtext2.png" class="img-responsive" alt="Quantum | The Travel Solutions Group">
                    </a>
                </div>
                <div collapse="navCollapsed" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ui-sref-active="active">
                            <a ui-sref="home">Home</a>
                            </li>
                        <li ui-sref-active="active"><a ui-sref="about">About Us</a></li>
                        <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
                        <!--<li ui-sref-active="active"><a ui-sref="faq">FAQs</a></li>-->
                        <li ui-sref-active="active"><a ui-sref="expressions">Expressions</a></li>
                        <li ui-sref-active="active"><a ui-sref="contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>