<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/animate.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/flexslider.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.css">
    <link rel="stylesheet" href="/linker/styles/hover.css">
    <link rel="stylesheet" href="/linker/styles/jquery.fancybox.css">
    <link rel="stylesheet" href="/linker/styles/parallax-slider.css">
    <link rel="stylesheet" href="/linker/styles/project.css">
    <link rel="stylesheet" href="/linker/styles/skins/borderlessdark/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/borderlessdark3d/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/borderlesslight/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/borderlesslight3d/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/carousel/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/darkskin/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/defaultskin/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/fullwidth/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/fullwidthdark/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/glass/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/lightskin/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/minimal/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/noskin/skin.css">
    <link rel="stylesheet" href="/linker/styles/skins/v5/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/borderlessdark/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/borderlessdark3d/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/borderlesslight/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/borderlesslight3d/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/carousel/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/darkskin/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/defaultskin/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/fullwidth/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/fullwidthdark/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/glass/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/lightskin/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/minimal/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/noskin/skin.css">
    <link rel="stylesheet" href="/linker/vendors/layerslider/skins/v5/skin.css">
    <link rel="stylesheet" href="/linker/vendors/parallax/css/parallax-slider.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/vendors/socket.io.js"></script>
    <script src="/linker/vendors/sails.io.js"></script>
    <script src="/linker/vendors/jquery.js"></script>
    <script src="/linker/app.js"></script>
    <script src="/linker/directives/layerSlider.js"></script>
    <script src="/linker/directives/mix.js"></script>
    <script src="/linker/directives/scrollTo.js"></script>
    <script src="/linker/factory/toastFactory.js"></script>
    <script src="/linker/modules/Expressions/expressions.js"></script>
    <script src="/linker/modules/about/about.js"></script>
    <script src="/linker/modules/contact/contact.js"></script>
    <script src="/linker/modules/home/home.js"></script>
    <script src="/linker/modules/layout/layout.js"></script>
    <script src="/linker/modules/services/services.js"></script>
    <script src="/linker/plugins/angular-animate.js"></script>
    <script src="/linker/plugins/angular-sails.js"></script>
    <script src="/linker/plugins/angular-ui-router.js"></script>
    <script src="/linker/vendors/angular-flexslider.js"></script>
    <script src="/linker/vendors/angular.js"></script>
    <script src="/linker/vendors/bootstrap.js"></script>
    <script src="/linker/vendors/jquery.cookie.js"></script>
    <script src="/linker/vendors/jquery.easing.js"></script>
    <script src="/linker/vendors/jquery.flexslider.js"></script>
    <script src="/linker/vendors/layerslider/js/greensock.js"></script>
    <script src="/linker/vendors/layerslider/js/layerPlugin.js"></script>
    <script src="/linker/vendors/layerslider/js/layerTransition.js"></script>
    <script src="/linker/vendors/mixitup.js"></script>
    <script src="/linker/vendors/parallax/js/jquery.cslider.js"></script>
    <script src="/linker/vendors/parallax/js/modernizr.js"></script>
    <script src="/linker/vendors/toastr.js"></script>
    <script src="/linker/vendors/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
