<div class="pg-opt pin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Our services</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Our services</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<section class="slice bg-3 p-15">
    <div class="w-section inverse">
        <div class="container">
            <div class="row special">
                <div class="col-lg-3 col-md-6 w-box dark border-fade">
                    <div >
                        <div class="thmb-img">
                            <i class="fa fa-sitemap"></i>
                        </div>

                        <h2>Corporate Travel Management</h2>
                        <p class="text-center">Our Solution Network helps you define your goals and reach your destination.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 w-box dark border-fade">
                    <div>
                        <div class="thmb-img">
                            <i class="fa fa-group"></i>
                        </div>

                        <h2>Retail Travel Services</h2>
                        <p class="text-center">You do not have to purchase in bulk before we give you the same low fare guarantee our corporate clients enjoy. Our agents are trained to listen and provide you the best deals every time.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 w-box dark border-fade">
                    <div >
                        <div class="thmb-img">
                            <i class="fa fa-ticket"></i>
                        </div>

                        <h2>Tours and Holidays</h2>
                        <p class="text-center">We spell curiosity with a "Q" and create opportunities for memories that last a lifetime. Our well travelled staff have a destination to match every travel question.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 w-box dark last border-fade">
                    <div>
                        <div class="thmb-img">
                            <i class="fa fa-truck"></i>
                        </div>

                        <h2>Destination Event Handling</h2>
                        <p class="text-center">If you ever imagined getting married in a different country but wondered how to go about it, QTL has the capability to turn your dreams to reality.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="slice bg-5">
    <div class="w-section inverse">
        <div class="container">
            <h3 class="section-title">What we do</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Executive Card Programme Management</h4>
                                <p>Processing of miles redemption and free Tickets.</p>
                                <p>Priority on seat confirmation on full flights</p>
                                <p>Access to Airline Business Lounges worldwide</p>
                                <p>Priority at check in regardless of class of travel</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Travel Management Services</h4>
                                <p>On-going education of travel arranger and travellers</p>
                                <p>Electronic travel advisories and security updates</p>
                                <p>Vendor negotiation</p>
                                <p>Support for company travel policy</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Flight Services</h4>
                                <p>Reservation and Electronic Ticketing</p>
                                <p>Ticket Rerouting, Reconfirmation and Endorsement</p>
                                <p>Lost Baggage Tracking and Handling</p>
                                <p>Travel/Health Insurance Processing</p>
                                <p>Transit Visa Procurement and <br>Entry Visa Facilitation</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Protocol/ Transportation Services</h4>
                                <p>Airport meet and greet services</p>
                                <p>Transportation to and from the Airport</p>
                                <p>24 Hour Emergency services</p>
                                <p>Inter and Intra city Transportation</p>
                                <p>Conference Organisation and provision of <br>support services for Companies</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Hotel Services</h4>
                                <p>Hotel Reservation</p>
                                <p>Car Reservation</p>
                                <p>Assignment of experienced travel team</p>
                                <p>Account Management</p>
                                <p>Benchmarking, analysis and consultation</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <!--<div class="icon-feature">-->
                                    <!--<i class="fa fa-cog"></i>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-9">
                                <!--<h4>We do Six</h4>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>-->
                           <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice bg-2 p-50">
    <div class="w-section inverse">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>We provide the platform and services,</h2>
                        <p>
                            You use it to set up a lifetime experience.
                            <br>
                            From one way flights to return and multiple destinations and stops. We have you covered
                        </p>
                        <span class="clearfix"></span>

                        <div class="text-center">
                            <a href="mailto:info@quantumtravelsng.com" class="btn btn-lg btn-one margin-t-20 ext-source" title="" target="_blank">Get Started</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>