<section class="slice no-padding">
    <div id="map_canvas" class="map-canvas no-margin"></div>
</section>

<section class="slice bg-3">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="section-title">Contact us</h3>
                    <p>
                       Please provide as much information as possible below. We will be happy to respond to your enquiries as soon as is possible
                    </p>

                    <form class="form-light mt-20" role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Your name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" id="message" placeholder="Write you message here..." style="height:100px;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-two">Send message</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="section-title">Head Office</h3>
                            <div class="contact-info">
                                <h5>Address</h5>
                                <p>184A Corporation Drive,<br>
                                 Dolphin Estate, Ikoyi</p>

                                <h5>Email</h5>
                                <p>info@quantumtravelsng.com</p>

                                <h5>Phone</h5>
                                <p>+234 709 873 2833</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="section-title">Program</h3>
                            <div class="contact-info">
                                <h5>Monday - Friday</h5>
                                <p>10:00 AM - 6:00 PM</p>

                                <h5>Saturday</h5>
                                <p>Closed</p>

                                <h5>Sunday</h5>
                                <p>Closed</p>
                            </div>
                        </div>
                    </div>
                    <h3 class="section-title">Stay connected</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur acing elit. Aenean esrsel piesn qersl ioinm sersoe non urna dolor aecena.
                    </p>
                    <div class="social-media">
                        <a href="#"><i class="fa fa-facebook facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus google"></i></a>
                        <a href="#"><i class="fa fa-twitter twitter"></i></a>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>

                <div class="col-md-12 top-buffer">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="section-title">Ikeja</h3>
                            <div class="contact-info">
                                <h5>Address</h5>
                                <p>Suite 1-04, Centage Plaza</p>
                                <p>14 Allen Avenue</p>

                                <h5>Phone</h5>
                                <p>+234 1 815 0926</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="section-title">Lagos Island</h3>
                            <div class="contact-info">
                                <h5>Address</h5>
                                <p>Block 12, Suites 22,</p>
                                <p> Sura Shopping Complex,</p>
                                <p>Simpson Street, lagos Island</p>

                                <h5>Phone</h5>
                                <p>+234 1 898 4394</p>
                            </div>
                        </div>


                    <div class="col-md-4">
                        <h3 class="section-title">Abuja</h3>
                        <div class="contact-info">
                            <h5>Address</h5>
                            <p>Gwandal Center,</p>
                            <p>Plot 1015, Fria Close,</p>
                            <p> Off Adetokunbo Ademola Way,</p>
                            <p>Wuse 2, Abuja</p>

                            <h5>Phone</h5>
                            <p>+234 9 876 7060</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</section>