
<!--<div class="slider-inner">-->
    <!--<div id="da-slider" class="da-slider" c-slider>-->
        <!--<div class="da-slide">-->
            <!--<h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>-->
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <!--<div class="da-img"><img src="linker/vendors/parallax/img/1.png" alt="" /></div>-->
        <!--</div>-->
        <!--<div class="da-slide">-->
            <!--<h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>-->
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>-->
            <!--<div class="da-img">-->
                <!--<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="da-slide">-->
            <!--<h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>-->
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <!--<div class="da-img"><img src="linker/vendors/parallax/img/html5andcss3.png" alt="image01" /></div>-->
        <!--</div>-->
        <!--<div class="da-arrows">-->
            <!--<span class="da-arrows-prev"></span>-->
            <!--<span class="da-arrows-next"></span>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;/da-slider&ndash;&gt;-->
<!--</div>-->

<section id="slider-wrapper" class="layer-slider-wrapper">
    <div id="layerslider" style="width:100%;height:500px;" c-slider="{
			pauseOnHover: true,
			autoPlayVideos: false,
			skinsPath: 'linker/vendors/layerslider/skins/',
			responsive: false,
			responsiveUnder: 1280,
			layersContainer: 1280,
			skin: 'borderlessdark3d',
			hoverPrevNext: true,
		}">
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="linker/images/slider/fw-1.jpg" class="ls-bg" alt="Slide background"/>

            <!-- Right Image -->
            <img src="linker/images/prv/human-img-1.png" class="ls-l" style="top:58%; left:70%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" alt="Image layer">

            <!-- Left Text -->
            <h3 class="ls-l title" style="width:500px; top:25%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Travelling? Need to plan the perfect getaway?</h3>
            <h3 class="ls-l subtitle" style="top:40%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Quantum Travels.....Every journey answers a question</h3>
            <p class="ls-l text-standard" style="width:500px; top:55%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:2500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Your one stop shop for all things travel. Corporate travel, leisure travel, travel insurance, visa and a host of other services.
            </p>
            <!--<a href="http://ajala.ng" class="btn btn-two btn-lg ls-l" style="top:75%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:3500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Our Travel Portal</a>-->
            <a href="mailto:info@quantumtravelsng.com" class="btn btn-two btn-lg ls-l" style="top:84%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:4000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Ask Us</a>
        </div>

        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="linker/images/slider/fw-1.jpg" class="ls-bg" alt="Slide background"/>

            <!-- Right Image -->
            <img src="linker/images/prv/human-img-4.png" class="ls-l" style="top:48%; left:70%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" alt="Image layer">

            <!-- Left Text -->
            <h3 class="ls-l title" style="width:500px; top:15%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Our services Include:</h3>
            <h3 class="ls-l list-item" style="top:28%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> Tour Packaging
            </h3>
            <h3 class="ls-l list-item" style="top:35%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:2000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> Flight booking
            </h3>
            <h3 class="ls-l list-item" style="top:42%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:2500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> Hotel Reservations
            </h3>
            <h3 class="ls-l list-item" style="top:49%; left:80px;" data-ls="offsetxin: left; rotatein: 90;durationin:1000;durationin:1000;delayin:3000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <i class="fa fa-check-circle-o"></i> Car hire, Airport pickups and drop offs
            </h3>
            <p class="ls-l text-standard" style="width:500px; top:65%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:3500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                We also offer Corporate travel services for organisations.
                This way you focus on your work and we take care of your travel arrangements.
            </p>
            <a href="mailto:info@quantumtravelsng.com" class="btn btn-two btn-lg ls-l" style="top:84%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:4000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Learn More From Us</a>
        </div>
    </div>
</section>
<section class="slice bg-3">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-headphones"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Available 24/7</h4>
                                <p><strong>At QTL</strong>, we are available round the clock to provide the travel service you deserve. We are just a phone call, email, tweet or post away.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Value Proposition</h4>
                                <p>We always ensure that you get the most value at the least comparable cost.We posses the partnership and negotiating power to guarantee us a pricing advantage</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-bullseye"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Passion</h4>
                                <p>We are passionate about what we do and it shows in the way we do it. we always strive to be the best. We seek to hit the bull's eye so that our customers win every time.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Relationships</h4>
                                <p>At QTL, we aim to create value in our relationship with you. We have evolved from transactional business operations to collaborative partnerships with our clients. Whether it's corporate or private travel, business or leisure, we will work with you to develop a travel plan that fits your purpose. <strong>At QTL, it's all about you.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Service Offering </h4>
                                <p>At QTL, we have a world wide reach in terms of travel.We offer all types of travel related services, all you need do is name it!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon-feature">
                                    <i class="fa fa-volume-up"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>We Listen</h4>
                                <p>We do not operate in a silo but have a holistic approach to meeting your travel needs. We listen to our clients, suppliers and even our competition to ensure you always win. So, we welcome your feedback and work to implement them to ensure we serve you better every time.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="slice bg-banner-1">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                        <h2>The World is a book And those who do not travel read only one page</h2>
                        <p>
                            St. Augustine
                        </p>
                        <span class="clearfix"></span>

                        <!--<div class="text-center">-->
                            <!--<a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-one mt-20 ext-source">Whatch our video</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-2 p-15">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>
                        Enhanced travel experience, only at Quantum <!--only on our portal -->
                    </h1>
                </div>
                <!--<div class="col-md-3">-->
                    <!--<a class="btn btn-one btn-lg pull-right" title="" href="http://ajala.ng" target="blank">-->
                        <!--<i class="fa fa-desktop"></i> Explore the Portal-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
